* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #E76F51;
    font-family: 'Silkscreen', cursive;
}

h1 {
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E9C46A;
}

#game-area {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.tile {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A9D8F;
    font-size: 120px;
    border: 3px solid #E76F51;
}

.tile0,
.tile3,
.tile6 {
    border-left: hidden;
}

.tile0,
.tile1,
.tile2 {
    border-top: hidden;
}

.tile2,
.tile5,
.tile8 {
    border-right: hidden;
}

.tile6,
.tile7,
.tile8 {
    border-bottom: hidden;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E76F51;
    color: white;
    border-color: #E76F51;
    font-family: 'Silkscreen', cursive;
}

#restart-button {
    margin-top: 50px;
    font-size: 24px;
    letter-spacing: 3px;
}

#versus-text {
    margin: 0px 10px;
}

#versus {
    margin: 10px;
    font-size: 10px;
}

#single-player-button {
    margin: 10px;
    font-size: 10px;
}

.name-input::placeholder {
    color: #264653a9;
}

#PvP-text {
    color: #2A9D8F;
    font-size: 24px;
}

.name-input {
    background-color: rgb(228, 228, 228);
    font-family: 'Poppins', sans-serif;
    color: #264653;
    border-color: #F4A261;
    border-radius: 5px;
    text-align: center;
    max-height: 24px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.versus-wrapper.hide {
    display: none;
}

.versus-wrapper {
    display: flex;
    align-items: center;
}